.wellcomeText{
    font-size: 10rem;
    color:#1F509A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


.urlText{
    font-size: 3rem;
    color:#1F509A;
    display: flex; 
    justify-content: center;
  
}

.h2Box{
    margin: 0 0 0 22%;
    border-radius: 15px;
    border: black 2px solid;
    padding: 15px 250px;
    font-size: 2rem;
}

.generateButton{
    background-color: #1F509A;
    padding:20px 40px;
    border-radius: 10px;
    color: white;
    margin:40px 0 0 45%;
    font-weight: bold;
}